In [30]:
!pip install selenium

Requirement already satisfied: selenium in d:\anaconda\lib\site-packages (4.0.0)
Requirement already satisfied: trio-websocket~=0.9 in d:\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in d:\anaconda\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in d:\anaconda\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: outcome in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in d:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in d:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in d:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in d:\anaconda\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in d:\anaconda\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in d:\anaconda\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in d:\anaconda\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in d:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

Q1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [144]:
import selenium
from selenium import webdriver
import pandas as pd
import time
#from selenium.webdriver.common.keys import Keys
PATH = 'C:\Program Files (x86)\chromedriver.exe'                          
driver = webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")

<ipython-input-144-d0e3adad0294>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [145]:
driver.get("https://www.naukri.com")

In [146]:
time.sleep(1)
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")
time.sleep(1)
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()
time.sleep(1)

<ipython-input-146-5af17cf3cd8a>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-146-5af17cf3cd8a>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-146-5af17cf3cd8a>:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [117]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

<ipython-input-117-8db898a03ada>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [147]:
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title=[]
for i in title[0:10]:
    job_title.append(i.text)

<ipython-input-147-8dbba81d6cf6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [148]:
job_title

['Senior Business Data Analyst',
 'Data Analyst - Flipkart Analytics',
 'Business Data Analyst - Database Design/Mining',
 'Urgent Openings For Data Analyst / Business Analyst',
 'Data Analyst',
 'Business Data Analyst(BigId) - Capco - Bangalore',
 'Senior Data Analyst',
 'DATA ANALYST',
 'Data Analyst',
 'Data Analyst - Marketing']

In [149]:
coy_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies=[]
for i in coy_name[0:10]:
    companies.append(i.text)
companies

<ipython-input-149-6b282b168798>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  coy_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

['Tech Data Advanced Solutions India Pvt Ltd',
 'Flipkart',
 'AugmatrixGo',
 'Flipkart',
 'Rupeek Fintech Pvt Ltd',
 'Capco Technologies Pvt Ltd',
 'ShieldSquare _x001A_',
 'McAfee',
 'CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN',
 'Capco Technologies Pvt Ltd']

In [150]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_list=[]
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[0:12]

<ipython-input-150-aa8339ab7b9c>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

['Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Cannanore/Kannur, Nagpur, Calicut/Kozhikode, Coimbatore, Thodupuzha, Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [151]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_list=[]
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
    
experience_list[0:10]

<ipython-input-151-939a9cabf0d6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

['3-8 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '1-6 Yrs',
 '0-2 Yrs',
 '3-8 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs']

In [153]:
print(len(experience_list),len(location_list),len(companies),len(job_title))

20 20 10 10

In [154]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_title[0:10]
jobs['Companys']=companies[0:10]
jobs['Location']=location_list[0:10]
jobs['Experience']=experience_list[0:10]

In [155]:
jobs

,title,Companys,Location,Experience
0,Senior Business Data Analyst,Tech Data Advanced Solutions India Pvt Ltd,"Bangalore/Bengaluru, Mumbai (All Areas)",3-8 Yrs
1,Data Analyst - Flipkart Analytics,Flipkart,Bangalore/Bengaluru(Bellandur),0-3 Yrs
2,Business Data Analyst - Database Design/Mining,AugmatrixGo,Bangalore/Bengaluru,2-5 Yrs
3,Urgent Openings For Data Analyst / Business An...,Flipkart,Bangalore/Bengaluru,1-6 Yrs
4,Data Analyst,Rupeek Fintech Pvt Ltd,Bangalore/Bengaluru,0-2 Yrs
5,Business Data Analyst(BigId) - Capco - Bangalore,Capco Technologies Pvt Ltd,Bangalore/Bengaluru,3-8 Yrs
6,Senior Data Analyst,ShieldSquare _x001A_,Bangalore/Bengaluru,5-10 Yrs
7,DATA ANALYST,McAfee,Bangalore/Bengaluru,2-7 Yrs
8,Data Analyst,CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN,"Kochi/Cochin, Cannanore/Kannur, Nagpur, Calicu...",1-4 Yrs
9,Data Analyst - Marketing,Capco Technologies Pvt Ltd,Bangalore/Bengaluru,3-6 Yrs

Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [60]:
import selenium
import pandas as pd
from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
PATH = 'C:\Program Files (x86)\chromedriver.exe'                        
driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")

driver.get("https://www.naukri.com")

search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

<ipython-input-60-86045ac102b4>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
<ipython-input-60-86045ac102b4>:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
<ipython-input-60-86045ac102b4>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_id('qsb-keyword-sugg')
<ipython-input-60-86045ac102b4>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
<ipython-input-60-86045ac102b4>:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [61]:
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title=[]
for i in title[0:10]:
    job_title.append(i.text)

<ipython-input-61-986cd5e2cdaa>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

['Forecasting Analyst/ Data Scientist (US Client)',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Lead Data Scientist',
 'Senior Data Scientist / Tech Lead - SQL / Python / Big Data',
 'Looking For Senior Data Scientist Immediate Joiners and 1 months NP',
 'Looking For Senior Data Scientist Immediate Joiners and 1 months NP',
 'Data Scientist',
 'Data Scientist']

In [62]:
coy_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies=[]
for i in coy_name[0:10]:
    companies.append(i.text)

<ipython-input-62-6b282b168798>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  coy_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

['Concentrix Daksh Services',
 'Oracle India Pvt. Ltd.',
 'Convergence Infotech Ltd',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'TransOrg Solutions Services (P) Ltd.',
 'Exploro Solutions',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Binary Fountain Solutions India Pvt. Ltd',
 'Cerner Corporation']

In [63]:
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations=[]
for i in location_tag[0:10]:
    locations.append(i.text)

<ipython-input-63-81bf6ac02727>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Trivandrum/Thiruvananthapuram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [64]:
jobs=pd.DataFrame({})
jobs['title']=job_title[0:10]
jobs['Companys']=companies[0:10]
jobs['Location']=locations[0:10]

In [65]:
jobs

,title,Companys,Location
0,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services,"Gurgaon/Gurugram, Bangalore/Bengaluru"
1,Data Scientist,Oracle India Pvt. Ltd.,Bangalore/Bengaluru
2,Senior Data Scientist,Convergence Infotech Ltd,Bangalore/Bengaluru
3,Senior Data Scientist | Fortune 500 Supermarke...,TALENT500 TECH (INDIA) PRIVATE LIMITED,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
4,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Pune, Chennai, Bangalore/Bengaluru"
5,Senior Data Scientist / Tech Lead - SQL / Pyth...,Exploro Solutions,Bangalore/Bengaluru
6,Looking For Senior Data Scientist Immediate Jo...,Mount Talent Consulting Private Limited,Bangalore/Bengaluru
7,Looking For Senior Data Scientist Immediate Jo...,Mount Talent Consulting Private Limited,"Bangalore/Bengaluru, Trivandrum/Thiruvananthap..."
8,Data Scientist,Binary Fountain Solutions India Pvt. Ltd,Bangalore/Bengaluru
9,Data Scientist,Cerner Corporation,Bangalore/Bengaluru

Q3. In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs

In [86]:
import selenium
import pandas as pd
from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
PATH = 'C:\Program Files (x86)\chromedriver.exe'  
driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver.get("https://www.naukri.com/data-scientist-jobs?k=data%20scientist")

<ipython-input-86-72156a6edaa7>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")

In [87]:
driver_tags= driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in driver_tags:
    if i.text=='Delhi / NCR':
        i.click()
        break

drivers_tag= driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")
for j in drivers_tag:
    if j.text=='3-6 Lakhs':
        j.click()
        break

<ipython-input-87-99db758b89ac>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  driver_tags= driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")

In [91]:
# job title
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title=[]
for i in title[0:10]:
    job_title.append(i.text)

<ipython-input-91-533e96bb0b52>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [92]:
#job_location
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
job_location=[]
for i in location_tag[0:10]:
    job_location.append(i.text)

<ipython-input-92-1964b92ecaf4>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [93]:
#company_name
coy_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name=[]
for i in coy_name[0:10]:
    company_name.append(i.text)

<ipython-input-93-fba0b9b65066>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  coy_name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [94]:
#experience
experience_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experiences=[]
for i in experience_tag[0:10]:
    experiences.append(i.text)
    #experience_list.append(experience)

<ipython-input-94-bbe3779233ff>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [95]:
jobs=pd.DataFrame({})
jobs['Job Title']=job_title[0:10]
jobs['Company name']=company_name[0:10]
jobs['Location']=locations[0:10]
jobs['Experence']=experiences[0:10]

In [96]:
jobs

,Job Title,Company name,Location,Experence
0,Data Scientist,Think i,"Gurgaon/Gurugram, Bangalore/Bengaluru",0-2 Yrs
1,Job Opportunity || Data Scientist || HCL Techn...,HCL Technologies,Bangalore/Bengaluru,4-7 Yrs
2,Data Scientist,MoMagic Technologies Pvt. Ltd.,Bangalore/Bengaluru,4-6 Yrs
3,Data Scientist,MoMagic Technologies Pvt. Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",4-6 Yrs
4,Urgent Hiring || Data Scientist || Delhi,Shriram Automall India Limited,"Pune, Chennai, Bangalore/Bengaluru",2-7 Yrs
5,Data Scientist,Optum Global Solutions (India) Private Limited,Bangalore/Bengaluru,2-6 Yrs
6,Data Scientist,SVK Global Solutions Private Limited,Bangalore/Bengaluru,6-10 Yrs
7,Data Scientist Internship,iHackers Inc,"Bangalore/Bengaluru, Trivandrum/Thiruvananthap...",0-1 Yrs
8,Data Scientist,Fractal Analytics,Bangalore/Bengaluru,3-7 Yrs
9,Project Manager | Team Leader | Senior Data Sc...,Tidyquant (OPC) Private Limited,Bangalore/Bengaluru,2-7 Yrs

Q 4. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [99]:
import selenium
import pandas as pd
from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
PATH = 'C:\Program Files (x86)\chromedriver.exe'                         
driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")

import time

driver.get("https://www.flipkart.com/")

time.sleep(2)

search_btn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
search_btn.click()

search_job=driver.find_element_by_class_name('_3704LK')
search_job.send_keys("sunglasses")

search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

brand=[]
prod_desc=[]
price=[]
perc_off=[]
url_link=[]

time.sleep(2)
#pagination 
page_tag = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
for i in range(1,4):
    url_link.append(page_tag.get_attribute('href')[0:-1]+str(i))

for i in url_link:
    driver.get(i)
    time.sleep(2)
    
    #Brand name
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")  #Brand name
    for i in range(len(brand_tag)):
        brand.append(brand_tag[i].text)
   #Product name     
    prod_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")      
    for i in range(len(prod_tag)):
        prod_desc.append(prod_tag[i].text)
   #Prices
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")  
    for i in range(len(price_tag)):
        price.append(price_tag[i].text)
    #percentage off
    per_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]") 
    for i in range(len(per_tag)):
        perc_off.append(per_tag[i].text)

#DataFrame:
item_list = pd.DataFrame({})
item_list['Brand'] = brand[0:100]
item_list['Product Discription'] = prod_desc[0:100]
item_list['Price'] = price[0:100]
item_list['Percent Off'] = perc_off[0:100]

<ipython-input-99-2c9019c86a77>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
<ipython-input-99-2c9019c86a77>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='_2QfC02']/button")
<ipython-input-99-2c9019c86a77>:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_class_name('_3704LK')
<ipython-input-99-2c9019c86a77>:20: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
<ipython-input-99-2c9019c86a77>:31: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  page_tag = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-99-2c9019c86a77>:40: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")  #Brand name
<ipython-input-99-2c9019c86a77>:44: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prod_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
<ipython-input-99-2c9019c86a77>:48: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-99-2c9019c86a77>:52: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  per_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")

In [100]:
item_list

,Brand,Product Discription,Price,Percent Off
0,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)",₹799,60% off
1,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹999,50% off
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
3,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹276,83% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,415",29% off
96,NuVew,"UV Protection, Night Vision, Riding Glasses Sp...",₹272,65% off
97,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹659,17% off
98,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹229,80% off
99,ROYAL SON,"Polarized, UV Protection, Gradient Over-sized,...","₹1,234",58% off

Q 5. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/
p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .

In [106]:
import selenium
import pandas as pd
from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
PATH = 'C:\Program Files (x86)\chromedriver.exe'                          #extracting path of the webdriver
driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC")

search_btn=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
search_btn.click()
time.sleep(1)

url_link=[]
rating_list=[]
reviews_list=[]
fullr_list=[]

time.sleep(1)

page_tag = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
for i in range(1,12):
    url_link.append(page_tag.get_attribute('href')[0:-1]+str(i))

for i in url_link:
    driver.get(i)
    time.sleep(2)
    
    rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in range(len(rating_tag)):
        rating_list.append(rating_tag[i].text)
     
    reviews_tag=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div/p")
    for i in range(len(reviews_tag)):
        reviews_list.append(reviews_tag[i].text)
        
    fullr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in range(len(fullr_tag)):
        fullr_list.append(fullr_tag[i].text)
        
        
iphone11_d=pd.DataFrame({})  
iphone11_d['Ratings']=rating_list[0:100]
iphone11_d['Review Summary']=reviews_list[0:100]  
iphone11_d['Full Summary']=fullr_list[0:100]

<ipython-input-106-dd37fd0e6f04>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
<ipython-input-106-dd37fd0e6f04>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
<ipython-input-106-dd37fd0e6f04>:21: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  page_tag = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-106-dd37fd0e6f04>:29: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  rating_tag=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
<ipython-input-106-dd37fd0e6f04>:33: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  reviews_tag=driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div/p")
<ipython-input-106-dd37fd0e6f04>:37: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  fullr_tag=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

In [107]:
iphone11_d

,Ratings,Review Summary,Full Summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
...,...,...,...
95,5,Super!,This is my first ever iPhone.\nAnd I truly don...
96,3,Just wow!,The ultimate performance\nCamera is superb\nTh...
97,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
98,5,Awesome,The phone is completely good\nAs far as camera...
99,5,Decent product,Everything u ll like it when u use this iPhone...

Q6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [101]:
import selenium
import pandas as pd
from selenium import webdriver
import time
#from selenium.webdriver.common.keys import Keys
PATH = 'C:\Program Files (x86)\chromedriver.exe'  
driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver.get("https://www.flipkart.com/")

times_ad=driver.find_element_by_xpath ("//div[@class='_2QfC02']/button")
times_ad.click()
time.sleep(1)

search_job=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_job.send_keys("sneakers")

search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()
time.sleep(1)
url_link=[]
brand_name=[]
info_list=[]
prices=[]
discounts=[]

time.sleep(2)
page_tag = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
for i in range(1,4):
    url_link.append(page_tag.get_attribute('href')[0:-1]+str(i))

for i in url_link:
    driver.get(i)
    time.sleep(2)
    
    #brand_name
    brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    
    for i in range(len(brand_tag)):
        brand_name.append(brand_tag[i].text)
    #information
    info_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    
    for i in range(len(info_tag)):
        info_list.append(info_tag[i].text)

    price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in range(len(price_tag)):
        prices.append(price_tag[i].text)
    
    discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    
    for i in range(len(discount_tag)):
        discounts.append(discount_tag[i].text)

    
sneaker_d=pd.DataFrame({})  
sneaker_d['Brand name']=brand_name[0:100]
sneaker_d['Info']=info_list[0:100]  
sneaker_d['Prices']=prices[0:100]
sneaker_d['Discounts']=discounts[0:100]

<ipython-input-101-b987c59dfe2a>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
<ipython-input-101-b987c59dfe2a>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  times_ad=driver.find_element_by_xpath ("//div[@class='_2QfC02']/button")
<ipython-input-101-b987c59dfe2a>:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
<ipython-input-101-b987c59dfe2a>:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
<ipython-input-101-b987c59dfe2a>:27: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  page_tag = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
<ipython-input-101-b987c59dfe2a>:36: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  brand_tag=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
<ipython-input-101-b987c59dfe2a>:41: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info_tag=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
<ipython-input-101-b987c59dfe2a>:46: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tag=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
<ipython-input-101-b987c59dfe2a>:51: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  discount_tag=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

In [103]:
sneaker_d

,Brand name,Info,Prices,Discounts
0,Neeman's,Sneakers For Men,"₹2,399",20% off
1,LEE COOPER,Sneakers For Men,"₹2,099",40% off
2,Numenzo,Sneakers For Men,₹479,63% off
3,Magnolia,Sneakers For Men,₹398,60% off
4,SCATCHITE,Sneakers Sneakers For Men,₹398,60% off
...,...,...,...,...
95,Neeman's,Sneakers For Men,"₹2,399",20% off
96,Zorth,Sneakers For Men,₹449,55% off
97,Jabra,Perfect Sports Shoes for Running Training Hiki...,₹259,48% off
98,ESSENCE,Sneakers For Men,₹449,55% off
99,LEE COOPER,Sneakers For Men,"₹2,099",40% off

Q7. Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image.

In [156]:
import selenium
from selenium import webdriver
import pandas as pd
import time

driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver.get("https://www.myntra.com/shoes")

url_link=[]
product_info=[]
brand=[]
desc=[]
price=[]

time.sleep(1)
search_btn = driver.find_element_by_xpath("//span[@style='background-color: rgb(54, 69, 79);']")
search_btn.click()
time.sleep(1)

search_btn = driver.find_element_by_xpath("//ul[@class='price-list']/li[2]")
search_btn.click()
time.sleep(2)

search_btn = driver.find_element_by_xpath("//li[@class='pagination-number']/a")
for i in range(1,3):
    url_link.append(search_btn.get_attribute('href')[0:-1]+str(i))

for i in url_link:
    driver.get(i)
    time.sleep(1)

    info = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
    for i in range(len(info)):
        product_info.append(info[i].text.split('\n'))

for x in range(0,100):
    brand.append(product_info[x][0])
    desc.append(product_info[x][1])
    price.append('Rs. '+ product_info[x][2].split('Rs. ')[1])

item_list = pd.DataFrame({})
item_list['Brand'] = brand[0:100]
item_list['Description'] = desc[0:100]
item_list['Price'] = price[0:100]

<ipython-input-156-08572b21d368>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
<ipython-input-156-08572b21d368>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//span[@style='background-color: rgb(54, 69, 79);']")
<ipython-input-156-08572b21d368>:20: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//ul[@class='price-list']/li[2]")
<ipython-input-156-08572b21d368>:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn = driver.find_element_by_xpath("//li[@class='pagination-number']/a")
<ipython-input-156-08572b21d368>:32: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")

In [157]:
item_list

             Brand                           Description      Price
0             Nike         Men Zoom Span 4 Running Shoes   Rs. 7195
1             Nike            Men FLIGHT LEGACY Sneakers   Rs. 7995
2     Hush Puppies     Men Solid Leather Formal Slip-Ons   Rs. 8099
3             Puma        Men Deviate Nitro Running Shoe  Rs. 11249
4     Calvin Klein           Men Mid-Top Runner Sneakers   Rs. 8249
..             ...                                   ...        ...
95        DAVINCHI       Men Solid Leather Formal Derbys   Rs. 8990
96  ROSSO BRUNELLO  Men Textured Leather Formal Slip-Ons  Rs. 13999
97           KLEAT                  Men Suede Flat Boots   Rs. 8999
98        DAVINCHI   Men Textured Formal Leather Loafers   Rs. 8990
99            Puma           Men Electrify Nitro Running   Rs. 7499

[100 rows x 3 columns]

Q8.Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [105]:
import selenium
import pandas as pd
from selenium import webdriver
import time
#from selenium.webdriver.common.keys import Keys
PATH = 'C:\Program Files (x86)\chromedriver.exe'  
driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")

driver.get("https://www.amazon.in/")
driver.maximize_window()

search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("Laptop") 

search_btn=driver.find_element_by_id('nav-search-submit-button')
search_btn.click()
time.sleep(2)

driver_tags= driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in driver_tags:
    if i.text=='Intel Core i7':
        i.click()
        break
time.sleep(2)
        
product_tag=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
product_name=[]

for j in product_tag[0:10]:
    product_name.append(j.text)
    

price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price_list=[]

for p in price_tag[0:10]:
    price_list.append(p.text)  

laptops=pd.DataFrame({})  
laptops['Product name']=product_name[0:10]
laptops['Price']=price_list[0:10]

#laptops['Ratings']=ratings[0:10]
#print(laptops)

<ipython-input-105-fe1a6b212531>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
<ipython-input-105-fe1a6b212531>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_bar=driver.find_element_by_id('twotabsearchtextbox')
<ipython-input-105-fe1a6b212531>:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_id('nav-search-submit-button')
<ipython-input-105-fe1a6b212531>:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  driver_tags= driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
<ipython-input-105-fe1a6b212531>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  product_tag=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
<ipython-input-105-fe1a6b212531>:33: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  price_tag=driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [108]:
laptops

                                        Product name     Price
0  Mi Notebook Horizon Edition 14 Intel Core i7-1...    56,990
1  LG Gram 14 Ultralight Intel Evo 11th Gen Core ...    87,999
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...    56,990
3  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...  1,13,990
4  Microsoft Surface Laptop Studio - 14.4" Touchs...  3,73,999
5  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...    84,990
6  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...    95,890
7  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    85,990
8  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...    93,990
9  ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...  1,07,990

Q9. Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [125]:
import selenium
import pandas as pd
from selenium import webdriver
import time
#from selenium.webdriver.common.keys import Keys
PATH = 'C:\Program Files (x86)\chromedriver.exe'  
driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver.get("https://www.ambitionbox.com/")
time.sleep(2)

#opening Jobs option
search_job=driver.find_element_by_xpath("//a[@class='link jobs']")
search_job.click()
time.sleep(1)

#searching Data Scientist  jobs
search_job=driver.find_element_by_xpath("//input[@class='input tt-input']")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']/span")
search_loc.click()
time.sleep(2)

#dropdown
dropdown=driver.find_element_by_xpath("//div[@title='Location']")
dropdown.click()

time.sleep(1)

#Location Searching
searc_job=driver.find_element_by_xpath("//input[@placeholder='Search locations']")
searc_job.send_keys("Noida")

#Selecting Noida
data=driver.find_element_by_xpath("//label[@for='location_Noida']")
data.click()
time.sleep(2)

#company_name 
coy_tag=driver.find_elements_by_xpath("//p[@class='company body-medium']")
coy_name=[]
for c in coy_tag:
        brands=c.text
        coy_name.append(brands)
coy_name
time.sleep(2)

#Timeof job posted
time_tag=driver.find_elements_by_xpath("//span[@class='body-small-l'][1]")
time_list=[]
for t in time_tag:
        times=t.text
        time_list.append(times)
time_list
time.sleep(2)

#Review
review_tag=driver.find_elements_by_xpath("//span[@class='body-small']")
review_list=[]
for r in review_tag:
        rates=r.text
        review_list.append(rates)

#DataFrame
abc=pd.DataFrame({})
abc['Company Name']=coy_name[0:10]
abc['Posted time']=time_list[0:10]
abc['Review']=review_list[0:10]

<ipython-input-125-2058a372e289>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
<ipython-input-125-2058a372e289>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_xpath("//a[@class='link jobs']")
<ipython-input-125-2058a372e289>:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_xpath("//input[@class='input tt-input']")
<ipython-input-125-2058a372e289>:19: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_loc=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']/span")
<ipython-input-125-2058a372e289>:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  dropdown=driver.find_element_by_xpath("//div[@title='Location']")
<ipython-input-125-2058a372e289>:30: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searc_job=driver.find_element_by_xpath("//input[@placeholder='Search locations']")
<ipython-input-125-2058a372e289>:34: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  data=driver.find_element_by_xpath("//label[@for='location_Noida']")
<ipython-input-125-2058a372e289>:39: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  coy_tag=driver.find_elements_by_xpath("//p[@class='company body-medium']")
<ipython-input-125-2058a372e289>:48: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  time_tag=driver.find_elements_by_xpath("//span[@class='body-small-l'][1]")
<ipython-input-125-2058a372e289>:57: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  review_tag=driver.find_elements_by_xpath("//span[@class='body-small']")

In [123]:
abc

                                     Company Name Posted time Review
0  Optum Global Solutions (India) Private Limited      8d ago    4.1
1                                Steria India Ltd    22hr ago    4.1
2                            Ameriprise Financial      3d ago    4.1
3                      Jubilant Foodworks Limited     7hr ago    3.9
4  Optum Global Solutions (India) Private Limited     29d ago    4.1
5                                Steria India Ltd     20d ago    4.1
6                                Steria India Ltd     20d ago    4.1
7                        HCL Technologies Limited    1mon ago    3.8
8                                           Zyoin      2d ago    4.2
9                                        GI Group     3hr ago    3.9

Q10. Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [86]:
import selenium
import pandas as pd
from selenium import webdriver
import time
#from selenium.webdriver.common.keys import Keys
PATH = 'C:\Program Files (x86)\chromedriver.exe'  
driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
driver.get("https://www.ambitionbox.com/")
time.sleep(2)

#opening Jobs option
search_job=driver.find_element_by_xpath("//a[@title='Company Salaries']")
search_job.click()
time.sleep(1)
#searching Data Scientist  jobs
search_njob=driver.find_element_by_id('jobProfileSearchbox')
search_njob.send_keys("Data Scientist") 
time.sleep(1)

data_select= driver.find_element_by_xpath("//div[@class='top-row']/p")
data_select.click()
time.sleep(1)
#company name
coy_tag=driver.find_elements_by_xpath("//div[@class='name']/a")
coy_list=[]
for c in coy_tag:
        company=c.text
        coy_list.append(company)

#total salary record
salary_tag=driver.find_elements_by_xpath("//div[@class='name']/span")
salary_list=[]
for s in salary_tag:
        salary=s.text
        salary_list.append(salary)
        
#average salary
avg_sal=driver.find_elements_by_xpath("//p[@class='averageCtc']")
avgs_list=[]
for a in avg_sal:
        avg_salary=a.text
        avgs_list.append(avg_salary)
        
#Minimum salary
minsal=driver.find_elements_by_xpath("//div[@class='value body-medium'][1]")
min_list=[]
for mini in minsal:
        minimum_s=mini.text
        min_list.append(minimum_s)
        
#maximum salary
maxsal=driver.find_elements_by_xpath("//div[@class='value body-medium'][2]")
max_list=[]
for maxi in maxsal:
        max_salary=maxi.text
        max_list.append(max_salary)
time.sleep(2)
#experience
exp_tag=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header'][1]")
exp_list=[]
for e in exp_tag:
        experience=e.text.split('\n . \n')[1]
        exp_list.append(experience)
        

abc=pd.DataFrame({})
abc['Company Name']=coy_list[0:10]
abc['Total salary record']=salary_list[0:10]
abc['Average Salary']=avgs_list[0:10]
abc['Min Salary']=min_list[0:10]
abc['Max Salary']=max_list[0:10]
abc['Experience']=exp_list[0:10]

<ipython-input-86-aae677eea177>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\\Users\\hp\\Downloads\\chromedriver_win32\\chromedriver.exe")
<ipython-input-86-aae677eea177>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_xpath("//a[@title='Company Salaries']")
<ipython-input-86-aae677eea177>:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_njob=driver.find_element_by_id('jobProfileSearchbox')
<ipython-input-86-aae677eea177>:20: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  data_select= driver.find_element_by_xpath("//div[@class='top-row']/p")
<ipython-input-86-aae677eea177>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  coy_tag=driver.find_elements_by_xpath("//div[@class='name']/a")
<ipython-input-86-aae677eea177>:31: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  salary_tag=driver.find_elements_by_xpath("//div[@class='name']/span")
<ipython-input-86-aae677eea177>:38: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  avg_sal=driver.find_elements_by_xpath("//p[@class='averageCtc']")
<ipython-input-86-aae677eea177>:45: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  minsal=driver.find_elements_by_xpath("//div[@class='value body-medium'][1]")
<ipython-input-86-aae677eea177>:52: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  maxsal=driver.find_elements_by_xpath("//div[@class='value body-medium'][2]")
<ipython-input-86-aae677eea177>:59: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  exp_tag=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header'][1]")

In [87]:
abc

,Company Name,Total salary record,Average Salary,Min Salary,Max Salary,Experience
0,Ab Inbev,based on 10 salaries,₹ 19.4L,₹ 15.0L,₹ 23.0L,4 yrs exp
1,Optum,based on 22 salaries,₹ 15.1L,₹ 11.0L,₹ 21.3L,3-4 yrs exp
2,Fractal Analytics,based on 60 salaries,₹ 14.7L,₹ 9.0L,₹ 20.8L,2-4 yrs exp
3,Tiger Analytics,based on 24 salaries,₹ 13.4L,₹ 8.3L,₹ 18.5L,3-4 yrs exp
4,UnitedHealth,based on 45 salaries,₹ 13.3L,₹ 7.2L,₹ 20.5L,2-4 yrs exp
5,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
6,Ganit Business Solutions,based on 12 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp
7,Deloitte,based on 45 salaries,₹ 11.2L,₹ 6.9L,₹ 20.5L,2-4 yrs exp
8,Ernst & Young,based on 26 salaries,₹ 11.1L,₹ 6.0L,₹ 20.0L,3-4 yrs exp
9,Ericsson,based on 43 salaries,₹ 10.9L,₹ 5.0L,₹ 21.5L,3-4 yrs exp