1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
#Sol 1: 
!pip install bs4
!pip install requests
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
url = 'https://en.wikipedia.org/wiki/Main_Page'
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')
header_tags= ["h1","h2","h3"]
for i in soup.findAll(header_tags):
    print(i.name + ' -> ' + i.text.strip())

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
h1 -> Main Page
h2 -> From today's featured article
h2 -> Did you know ...
h2 -> In the news
h2 -> On this day
h2 -> From today's featured list
h2 -> Today's featured picture
h2 -> Other areas of Wikipedia
h2 -> Wikipedia's sister projects
h2 -> Wikipedia languages
h2 -> Navigation menu
h3 -> Personal tools
h3 -> Namespaces
h3 -> Variants
expanded
collapsed
h3 -> Views
h3 -> More
expanded
collapsed
h3 -> Search
h3 -> Navigation
h3 -> Contribute
h3 -> Tools
h3 -> Print/export
h3 -> In other projects
h3 -> Languages

2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [2]:
#Sol 2.
!pip install bs4
!pip install requests
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

movie_name = []
year_of_release = []
rating = []

movie_data = soup.findAll('div',{'class' : 'lister-item mode-advanced'})

for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    year = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year_of_release.append(year)
    
    rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
    rating.append(rate)
    
    
movies_dF = pd.DataFrame({'Name of movie' : movie_name, "Year of Release" : year_of_release, "Ratings" : rating})
movies_dF

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)

                         Name of movie Year of Release Ratings
0             The Shawshank Redemption            1994     9.3
1                        The Godfather            1972     9.2
2                      Soorarai Pottru            2020     9.1
3                      The Dark Knight            2008     9.0
4               The Godfather: Part II            1974     9.0
..                                 ...             ...     ...
95                           Incendies            2010     8.3
96                      Dune: Part One            2021     8.3
97  Kimetsu no Yaiba: Mugen Ressha-Hen            2020     8.3
98                          The Father          I 2020     8.3
99                Inglourious Basterds            2009     8.3

[100 rows x 3 columns]

3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [3]:
# Sol 3.
!pip install bs4
!pip install requests
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
url = "https://www.imdb.com/list/ls004221468/"
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')
movie_name = []
year_of_release = []
rating = []
movie_data = soup.findAll('div',{'class' : 'lister-item mode-detail'})

for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    year = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
    year_of_release.append(year)
    
    rate = store.find('div', class_ = 'ipl-rating-star small').text.replace('\n', '')
    rating.append(rate)
    
movie_dF = pd.DataFrame({'Name of movie' : movie_name, "Year of Release" : year_of_release, "Ratings" : rating})
movie_dF

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)

             Name of movie Year of Release Ratings
0                    Udaan            2010     8.2
1       Gangs of Wasseypur            2012     8.2
2         Taare Zameen Par            2007     8.4
3                    Dev.D            2009       8
4   Swades: We, the People            2004     8.2
..                     ...             ...     ...
95                    Baby          I 2015       8
96                 Deewaar            1975     8.1
97       Khosla Ka Ghosla!            2006     8.3
98                   Iqbal            2005     8.1
99    Muqaddar Ka Sikandar            1978     7.5

[100 rows x 3 columns]

4. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating.

In [4]:
# Sol 4.
# i)
!pip install bs4
!pip install requests
import pandas as pd
import requests
import numpy as np
from requests import get

#main_code_line2

from requests import get

url=get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

from bs4 import BeautifulSoup as Soup

team_ranking=[]
team_name=[]
team_match=[]
team_point=[]
team_rating=[]

request=url.text

soup_data=Soup(request,'html.parser')

ranking=soup_data.find_all('tr',class_='rankings-block__banner')

for rank in ranking:
    team=rank.find('td',{'class':'rankings-block__banner--pos'}).text
    team_ranking.append(team)
    
    team=rank.find('span',{'class':'u-hide-phablet'}).text
    team_name.append(team)
    
    team=rank.find('td',{'class':'rankings-block__banner--matches'}).text
    team_match.append(team)
    
    team=rank.find('td',{'class':'rankings-block__banner--points'}).text
    team_point.append(team)
    
    team=rank.find('td',{'class':'rankings-block__banner--rating u-text-right'}).text.strip()
    team_rating.append(team)

rankings=soup_data.find_all('tr',class_='table-body')
count=0
for rank in rankings:
    count=count+1
    team=rank.find('td',{'class':'table-body__cell table-body__cell--position u-text-right'}).text
    team_ranking.append(team)
    
    team=rank.find('span',{'class':'u-hide-phablet'}).text
    team_name.append(team)
    
    team=rank.find('td',{'class':'table-body__cell u-text-right rating'}).text
    team_rating.append(team)
    if count>8:
        break
    
matchpoint=soup_data.find_all('td',class_='table-body__cell u-center-text')
count=1

for point in matchpoint:
    if count%2!=0:
        team_match.append(matchpoint[count-1].text)
    else:
        team_point.append(matchpoint[count-1].text)
    count=count+1
    if count>18:
        break
        
for team_info in range(10):
       cric_dF = pd.DataFrame({'Team Position' :team_ranking,'Team Nationality':team_name,'Team Matches':team_match,'Team Points': team_point,'Team Rating':team_rating})
print(cric_dF)

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
  Team Position Team Nationality Team Matches Team Points Team Rating
0             1      New Zealand           17       2,054         121
1             2          England           32       3,793         119
2             3        Australia           28       3,244         116
3             4            India           32       3,624         113
4             5     South Africa           25       2,459          98
5             6         Pakistan           27       2,524          93
6             7       Bangladesh           30       2,740          91
7             8      West Indies           30       2,523          84
8             9        Sri Lanka           32       2,657          83
9            10      Afghanistan           17       1,054          62

In [5]:
# ii)
!pip install bs4
!pip install requests
import pandas as pd
import requests
import numpy as np
from requests import get

url=get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

from bs4 import BeautifulSoup as Soup

request=url.text

soup_data=Soup(request,'html.parser')

player_pos=[]
player_name=[]
player_nation=[]
player_rating=[]

info=soup_data.find_all('tr',attrs={'class':'rankings-block__banner'})

for infor in info:
    information=infor.find('td',class_='rankings-block__position').text
    player_pos.append(information)
    
    information=infor.find('div',class_='rankings-block__banner--name-large').text
    player_name.append(information)
    
    information=infor.find(class_='flag-15')
    player_nation.append(str(information).split('"')[1].split()[1])
    
    information=infor.find(class_='rankings-block__banner--rating').text
    player_rating.append(information)

infos=soup_data.find_all('tr',attrs={'class':'table-body'})

count=0

for infor in infos:
    count=count+1
    information=infor.find('td',class_='table-body__cell table-body__cell--position u-text-right').text.strip()
    player_pos.append(information)
    
    information=infor.find('td',class_='table-body__cell rankings-table__name name').text.strip()
    player_name.append(information)
    
    information=infor.find('span',class_='table-body__logo-text').text
    player_nation.append(information)
    
    information=infor.find('td',class_='table-body__cell rating').text
    player_rating.append(information)
    if count>8:
        break

for team_info in range(10):
        movie_dF = pd.DataFrame({'Player Position' :player_pos,'Player Name':player_name,'Player Nation':player_nation,'Player Rating':player_rating})
print(movie_dF)

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
  Player Position      Player Name Player Nation Player Rating
0               1       Babar Azam           PAK           873
1               2      Virat Kohli           IND           844
2               3     Rohit Sharma           IND           813
3               4      Ross Taylor            NZ           801
4               5      Aaron Finch           AUS           779
5               6   Jonny Bairstow           ENG           775
6               7     David Warner           AUS           762
7               8        Shai Hope            WI           758
8               9  Kane Williamson            NZ           754
9              10  Quinton de Kock            SA           747

In [6]:
# iii)
!pip install bs4
!pip install requests
import pandas as pd
import requests
import numpy as np

from requests import get

url=get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

from bs4 import BeautifulSoup as Soup

request=url.text

soup_data=Soup(request,'html.parser')

player_pos=[]
player_name=[]
player_nation=[]
player_rating=[]

info=soup_data.find_all('tr',attrs={'class':'rankings-block__banner'})

for infor in info:
    information=infor.find('td',class_='rankings-block__position').text
    player_pos.append(information)
    
    information=infor.find('div',class_='rankings-block__banner--name-large').text
    player_name.append(information)
    
    information=infor.find(class_='flag-15')
    player_nation.append(str(information).split('"')[1].split()[1])
    
    information=infor.find(class_='rankings-block__banner--rating').text
    player_rating.append(information)

infos=soup_data.find_all('tr',attrs={'class':'table-body'})

count=0

for infor in infos:
    count=count+1
    information=infor.find('td',class_='table-body__cell table-body__cell--position u-text-right').text.strip()
    player_pos.append(information)
    
    information=infor.find('td',class_='table-body__cell rankings-table__name name').text.strip()
    player_name.append(information)
    
    information=infor.find('span',class_='table-body__logo-text').text
    player_nation.append(information)
    
    information=infor.find('td',class_='table-body__cell rating').text
    player_rating.append(information)
    if count>8:
        break

for team_info in range(10):
        cric_dF = pd.DataFrame({'Player Position' :player_pos,'Player Name':player_name,'Player Nation':player_nation,'Player Rating':player_rating})
print(cric_dF)

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
  Player Position       Player Name Player Nation Player Rating
0               1       Trent Boult            NZ           737
1               2    Josh Hazlewood           AUS           709
2               3  Mujeeb Ur Rahman           AFG           708
3               4      Chris Woakes           ENG           700
4               5      Mehedi Hasan           BAN           692
5               6        Matt Henry            NZ           691
6               7    Jasprit Bumrah           IND           679
7               8    Mitchell Starc           AUS           652
8               9   Shakib Al Hasan           BAN           650
9              10     Kagiso Rabada            SA           646

5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
ii) Top 10 women’s ODI players along with the records of their team and rating.
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [7]:
# Sol 5.
# i)
!pip install bs4
!pip install requests
import pandas as pd
import requests
import numpy as np
from requests import get
from bs4 import BeautifulSoup as Soup
url=get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
team_ranking=[]
team_name=[]
team_match=[]
team_point=[]
team_rating=[]

request=url.text

soup_data=Soup(request,'html.parser')

ranking=soup_data.find_all('tr',class_='rankings-block__banner')

for rank in ranking:
    team=rank.find('td',{'class':'rankings-block__banner--pos'}).text
    team_ranking.append(team)
    
    team=rank.find('span',{'class':'u-hide-phablet'}).text
    team_name.append(team)
    
    team=rank.find('td',{'class':'rankings-block__banner--matches'}).text
    team_match.append(team)
    
    team=rank.find('td',{'class':'rankings-block__banner--points'}).text
    team_point.append(team)
    
    team=rank.find('td',{'class':'rankings-block__banner--rating u-text-right'}).text.strip()
    team_rating.append(team)

rankings=soup_data.find_all('tr',class_='table-body')

for rank in rankings:
    team=rank.find('td',{'class':'table-body__cell table-body__cell--position u-text-right'}).text
    team_ranking.append(team)
    
    team=rank.find('span',{'class':'u-hide-phablet'}).text
    team_name.append(team)
    
    team=rank.find('td',{'class':'table-body__cell u-text-right rating'}).text
    team_rating.append(team)
    
matchpoint=soup_data.find_all('td',class_='table-body__cell u-center-text')
count=1
for point in matchpoint:
    if count%2!=0:
        team_match.append(matchpoint[count-1].text)
    else:
        team_point.append(matchpoint[count-1].text)
    count=count+1
    if count>20:
        break
        
for team_info in range(10):
        cric_dF = pd.DataFrame({'Team Position' :team_ranking,'Team Nationality':team_name,'Team Matches':team_match,'Team Points':team_point,'Team Rating':team_rating})
print(cric_dF)

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
  Team Position Team Nationality Team Matches Team Points Team Rating
0             1        Australia           21       3,379         161
1             2          England           25       2,983         119
2             3     South Africa           29       3,390         117
3             4            India           26       2,934         113
4             5      New Zealand           26       2,392          92
5             6      West Indies           22       1,872          85
6             7         Pakistan           20       1,496          75
7             8       Bangladesh            5         306          61
8             9        Sri Lanka           11         519          47
9            10          Ireland            2          25          13

In [8]:
# ii)
!pip install bs4
!pip install requests
import pandas as pd
import requests
import numpy as np
from requests import get

url=get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling")

from bs4 import BeautifulSoup as Soup

request=url.text

soup_data=Soup(request,'html.parser')

player_pos=[]
player_name=[]
player_nation=[]
player_rating=[]

info=soup_data.find_all('tr',attrs={'class':'rankings-block__banner'})

for infor in info:
    information=infor.find('td',class_='rankings-block__position').text
    player_pos.append(information)
    
    information=infor.find('div',class_='rankings-block__banner--name-large').text
    player_name.append(information)
    
    information=infor.find(class_='flag-15')
    player_nation.append(str(information).split('"')[1].split()[1])
    
    information=infor.find(class_='rankings-block__banner--rating').text
    player_rating.append(information)

infos=soup_data.find_all('tr',attrs={'class':'table-body'})

count=0

for infor in infos:
    count=count+1
    information=infor.find('td',class_='table-body__cell table-body__cell--position u-text-right').text.strip()
    player_pos.append(information)
    
    information=infor.find('td',class_='table-body__cell rankings-table__name name').text.strip()
    player_name.append(information)
    
    information=infor.find('span',class_='table-body__logo-text').text
    player_nation.append(information)
    
    information=infor.find('td',class_='table-body__cell rating').text
    player_rating.append(information)
    if count>8:
        break

for team_info in range(10):
        cric_dF = pd.DataFrame({'Player Position' :player_pos,'Player Name':player_name,'Player Nationality':player_nation,'Player Rating':player_rating})
print(cric_dF)

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
  Player Position        Player Name Player Nationality Player Rating
0               1      Jess Jonassen                AUS           760
1               2     Jhulan Goswami                IND           727
2               3       Megan Schutt                AUS           717
3               4     Marizanne Kapp                 SA           715
4               5  Sophie Ecclestone                ENG           701
5               6     Shabnim Ismail                 SA           688
6               7    Katherine Brunt                ENG           666
7               8     Ayabonga Khaka                 SA           643
8               9     Anya Shrubsole                ENG           598
9              10         Kate Cross                ENG           589

In [11]:
# iii)
!pip install bs4
!pip install requests
import pandas as pd
import requests
import numpy as np
from requests import get

url=get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

from bs4 import BeautifulSoup as Soup

request=url.text

soup_data=Soup(request,'html.parser')

player_pos=[]
player_name=[]
player_nation=[]
player_rating=[]

info=soup_data.find_all('tr',attrs={'class':'rankings-block__banner'})

for infor in info:
    information=infor.find('td',class_='rankings-block__position').text
    player_pos.append(information)
    
    information=infor.find('div',class_='rankings-block__banner--name-large').text
    player_name.append(information)
    
    information=infor.find(class_='flag-15')
    player_nation.append(str(information).split('"')[1].split()[1])
    
    information=infor.find(class_='rankings-block__banner--rating').text
    player_rating.append(information)

infos=soup_data.find_all('tr',attrs={'class':'table-body'})

count=0

for infor in infos:
    count=count+1
    information=infor.find('td',class_='table-body__cell table-body__cell--position u-text-right').text.strip()
    player_pos.append(information)
    
    information=infor.find('td',class_='table-body__cell rankings-table__name name').text.strip()
    player_name.append(information)
    
    information=infor.find('span',class_='table-body__logo-text').text
    player_nation.append(information)
    
    information=infor.find('td',class_='table-body__cell rating').text
    player_rating.append(information)
    if count>8:
        break

for team_info in range(10):
        cric_dF = pd.DataFrame({'Player Position' :player_pos,'Player Name':player_name,'Player Nationality':player_nation,'Player Rating':player_rating})
print(cric_dF)

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
  Player Position       Player Name Player Nationality Player Rating
0               1    Marizanne Kapp                 SA           384
1               2    Natalie Sciver                ENG           372
2               3      Ellyse Perry                AUS           365
3               4   Stafanie Taylor                 WI           322
4               5     Deepti Sharma                IND           299
5               6  Ashleigh Gardner                AUS           275
6               7  Dane van Niekerk                 SA           274
7               8     Jess Jonassen                AUS           272
8                   Katherine Brunt                ENG           272
9              10    Jhulan Goswami                IND           251

6. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [16]:
# Sol 6. Due to 503 error the data cant be scraped

!pip install bs4
!pip install requests
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

url = 'https://www.amazon.in/Phone-Under-20000/s?k=Phone+Under+20000'
response = requests.get(url)
print(response)
soup = BeautifulSoup(response.content,'html.parser')

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
<Response [503]>

7. Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price
"https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44N DUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8 iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0"

In [12]:
# Sol 7.
!pip install bs4
!pip install requests
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

url = 'https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44N DUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8 iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0'
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser') 
broker_info = soup.find_all ('div', {'class' : 'nb__2JHKO'})

house_name=[]
for i in broker_info:
    restro = i.find('section', class_ ='nb__37AJO').text.split(',')[0]
    house_name.append(restro)
    
location=[]
for j in broker_info:
    loc = j.find('div', class_ ='nb__sDz3z').text.split(',')[1:]
    location.append(loc)
    
info= soup.find_all('div',class_='nb__2NPHR')    
informations=[]    
area=[]
emi=[]
price=[]

for infor in info:
    information=infor.find('div')
    if information != None:
        informations.append(information.text)
for fill in range(0,3):
    count=fill
    for filling in range(10):
        if fill==0:
            area.append(informations[count])
        if fill==1:
            emi.append(informations[count])
        if fill==2:
            price.append(informations[count])
        count=count+3

house_dF = pd.DataFrame({'House Name' : house_name, "Location" : location, "Area" : area, "EMI" : emi , "Price" : price })
house_dF

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)

,House Name,Location,Area,EMI,Price
0,4 BHK In Independent House For Sale In Hebba...,"[ Bangalore - Hosur Road, Near National Publ...","1,800 sqft","₹77,374/Month",₹1.35 Crores
1,4 BHK Apartment For Sale In Nisarga Residenc...,"[ Ananth Nagar, Electronic City Phase II, Ba...","2,000 sqft","₹45,851/Month",₹80 Lacs
2,4 BHK Flat For Sale In Sobha Silicon Oasis ...,"[ Rayasandra Bengaluru, Karnataka 560100 Indi...","1,879 sqft","₹9,170/Month",₹16 Lacs
3,4 BHK For Sale In Daadys Garden In Electronic...,"[ Kammasandra, Electronic City, Bengaluru, ...","2,600 sqft","₹85,971/Month",₹1.5 Crores
4,4 BHK Flat For Sale In,"[ Electronic City Standalone Building, 16th C...","2,000 sqft","₹39,546/Month",₹69 Lacs
5,4 BHK Flat For Sale In Hosa Road,"[ Parappana Agrahara Standalone Building, 11t...","3,000 sqft","₹71,643/Month",₹1.25 Crores
6,4 BHK In Independent House For Sale In Elect...,[ surya nagar face 1Explore Nearby2021-08-264 ...,"3,000 sqft",₹1.43 Lacs/Month,₹2.5 Crores
7,4 BHK In Independent House For Sale In Elect...,"[ Hosur Rd, Near Infosys LimitedExplore Nearby...","1,200 sqft","₹42,985/Month",₹75 Lacs
8,4 BHK Apartment For Sale In Gopalan Gardenia...,"[ Veerasandra Main Rd, Veer Sandra, Electron...","2,650 sqft","₹68,777/Month",₹1.2 Crores
9,4 BHK For Sale In Gpr Royale In Gpr Royale 6t...,[],"3,100 sqft","₹85,971/Month",₹1.5 Crores

8. Write a python program to scrape mentioned details from ‘https://www.dineout.co.in/delhi-restaurants/buffet-special’ :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image url

In [13]:
# Sol 8.
!pip install bs4
!pip install requests
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')
restaurant_info = soup.find_all ('div', {'class' : 'restnt-card restaurant'})

#i) 
restro_name = []  
for stuny in restaurant_info:
    restro = stuny.find('div', class_ ='restnt-info cursor').text.split(',')[0]
    restro_name.append(restro)

#ii)
cuisine = []  
for stuny in restaurant_info:
    cuisine_n = stuny.find('span', class_ ='double-line-ellipsis').text.split('|')[1]
    cuisine.append(cuisine_n)

#iii)
locations = []  
for stuny in restaurant_info:
    locs_data = stuny.find('div', class_ ='restnt-loc ellipsis').text    
    locations.append(locs_data)   

#iv)
ratings = []  
for stuny in restaurant_info:
    ratings_data = stuny.find('div', class_ ='img-wrap').text    
    ratings.append(ratings_data)
    
#v)
Image_url = []  
for stuny in restaurant_info:
    img_data = stuny.find('img', class_ ='no-img')
    Image_url.append(img_data['data-src']) 

restro_dF = pd.DataFrame({'Restaurant Name' : restro_name, "Cuisine" : cuisine, "Location" : locations, "Ratings" : ratings , "Image URL" : Image_url})
restro_dF

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)

,Restaurant Name,Cuisine,Location,Ratings,Image URL
0,Castle BarbequeConnaught Place,"Chinese, North Indian","Connaught Place, Central Delhi",3.4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree3CS Mall,"North Indian, Barbecue, Italian, Asian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle BarbequePacific Mall,"North Indian, Chinese","Pacific Mall,Tagore Garden, West Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,The Barbeque CompanyGardens Galleria,"Barbecue, Chinese, Mughlai, North Indian","Gardens Galleria,Sector 38A, Noida",4.1,https://im1.dineout.co.in/images/uploads/resta...
4,Cafe KnoshThe Leela Ambience Convention Hotel,"Multi-Cuisine, North Indian, Italian, Contine...","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
5,India GrillHilton Garden Inn,"North Indian, Italian, Oriental","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi BarbequeTaurus Sarovar Portico,"Barbecue, North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"North Indian, Chinese, Fast Food","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World CafeVibe by The Lalit Traveller,"North Indian, Chinese, Continental","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill RoomSuncity Business Tower,"North Indian, Mughlai, Barbecue","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B QueSector 29,"North Indian, Mughlai","Sector 29, Faridabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29NIT,"North Indian, Chinese, Barbecue","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,GlasshouseDoubleTree By Hilton Gurugram Baani ...,"Multi-Cuisine, Asian, European, Italian, Nort...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

9. Write a python program to scrape weather details for last 24 hours from ‘https://en.tutiempo.net/delhi.html?data=last-24- hours’ :
i) Hour
ii) Temperature
iii) Wind
iv) Weather condition
v) Humidity
vi) Pressure

In [15]:
# Sol 9.

!pip install bs4
!pip install requests
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

url = "https://en.tutiempo.net/delhi.html?data=last-24-hours"
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

hour=[]
for i in soup.find_all('td',class_='t Temp')[0:24]:
    if i.previous_sibling.previous_sibling is not None:
          hour.append(i.previous_sibling.previous_sibling.text)
    else:
        Hour.append(' ')
temp=[]
for j in soup.find_all('td',class_='t Temp')[0:24]:
    tempt=j.text
    temp.append(tempt)

wind=[]
for k in soup.find_all('td',class_='wind')[0:24]:
    w=k.text
    wind.append(w)
    
weather_cond=[]
for l in soup.find_all('span',class_='thhip ico i0530 u303n')[0:24]:
    x=l.text
    weather_cond.append(x)
        
humidity=[]
for n in soup.find_all('td',class_='hr')[0:24]:
    y=n.text
    humidity.append(y)
    
pressure =[]
for p in soup.find_all('td',class_='prob')[0:24]:
    ze= p.text
    pressure.append(ze)

climate_dF=pd.DataFrame({'Hour' : hour, 'Temperature' : temp, 'Wind' : wind, 'Weather Condition' : weather_cond , 'Humidity' : humidity, 'Pressure' : pressure})
climate_dF

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)

     Hour Temperature     Wind Weather Condition Humidity  Pressure
0   00:30        20°C   7 km/h              Mist      64%  1015 hPa
1   00:00        20°C   7 km/h              Mist      64%  1015 hPa
2   23:30        20°C   9 km/h              Mist      64%  1015 hPa
3   23:00        20°C   7 km/h              Mist      64%  1015 hPa
4   22:30        21°C  11 km/h              Mist      60%  1015 hPa
5   22:00        21°C  11 km/h              Mist      60%  1015 hPa
6   21:30        21°C   9 km/h              Mist      60%  1015 hPa
7   21:00        21°C   9 km/h              Mist      60%  1014 hPa
8   20:30        22°C   9 km/h              Mist      57%  1014 hPa
9   20:00        22°C   9 km/h              Mist      57%  1014 hPa
10  19:30        22°C   7 km/h              Mist      53%  1014 hPa
11  19:00        23°C   7 km/h              Mist      50%  1013 hPa
12  18:30        24°C   7 km/h              Mist      44%  1013 hPa
13  18:00        25°C   7 km/h              Mist      41%  1013 hPa
14  17:30        27°C   7 km/h              Mist      34%  1012 hPa
15  17:00        27°C   7 km/h              Mist      34%  1012 hPa
16  16:30        28°C   7 km/h              Mist      32%  1012 hPa
17  16:00        28°C   9 km/h              Mist      28%  1012 hPa
18  15:30        29°C   9 km/h              Mist      23%  1012 hPa
19  15:00        29°C   9 km/h              Mist      22%  1013 hPa
20  14:30        29°C   9 km/h              Mist      22%  1013 hPa
21  14:00        29°C  11 km/h              Mist      23%  1013 hPa
22  13:30        28°C  11 km/h              Mist      28%  1014 hPa
23  13:00        28°C   6 km/h              Mist      28%  1014 hPa

10. Write a python program to scrape monument name, monument description, image url about top 10 monuments from 'https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/'

In [14]:
# Sol 10.

!pip install bs4
!pip install requests
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

url = "https://www.puredestinations.co.uk/top-10-famous-monuments-to-visit-in-india/"
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')
table= soup.find_all('div', class_ ='blog--single__content column--3-4 u-spacing-third')
place=[]
for i in table:
    for j in i.find_all('p'):
        t= j.text.replace('\n','')
        place.append(t)
        
name= []
desc = []
for i in range(1,30,3):
    name.append(place[i])
for i in range(2,30,3):
    desc.append(place[i])

temp =[]
for t in soup.find_all('img'):
    temp.append(t['src'])
img_url=[]
for t in range(6,26,2):
    img_url.append(temp[t])
    
monument_dF = pd.DataFrame({'Monument Name' : name, "Monument Description" : desc, "Image URL" : img_url})
monument_dF

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in d:\anaconda\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in d:\anaconda\lib\site-packages (from requests) (4.0.0)

,Monument Name,Monument Description,Image URL
0,"Taj Mahal, Agra","Enlisted in the Seven Wonders of the World, Th...",http://www.puredestinations.co.uk/wp-content/u...
1,"Golden Temple (Harmandir Sahib), Amritsar",The holiest shrine and pilgrimage place locate...,http://www.puredestinations.co.uk/wp-content/u...
2,"Meenakshi Temple, Madurai",Meenakshi Temple is situated on the Southern b...,http://www.puredestinations.co.uk/wp-content/u...
3,"Mysore Palace, Mysore",The Mysore Palace is a famous historical monum...,http://www.puredestinations.co.uk/wp-content/u...
4,"Gateway of India, Mumbai",Even though Mumbai is famous for its Bollywood...,http://www.puredestinations.co.uk/wp-content/u...
5,"Red Fort, New Delhi","Declared as the UNESCO’s World Heritage Site, ...",http://www.puredestinations.co.uk/wp-content/u...
6,"Hawa Mahal, Jaipur",Explore a blend of beauty and Rajasthan cultur...,http://www.puredestinations.co.uk/wp-content/u...
7,"Qutub Minar, New Delhi",Discover one of the tallest towers in the worl...,http://www.puredestinations.co.uk/wp-content/u...
8,"Sanchi Stupa, Sanchi","The beautiful and massive dome, Sanchi Stupa a...",http://www.puredestinations.co.uk/wp-content/u...
9,"Charminar, Hyderabad",No visit to Hyderabad should be complete witho...,http://www.puredestinations.co.uk/wp-content/u...